= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { method: :put, class: 'form-horizontal' }) do |f|
  = devise_error_messages!

  %fieldset
    %legend Your Profile

    = f.input :name
    = f.input :username
    = f.input :email
    = f.input :password
    = f.input :bio, as: :text, input_html: {rows: 4}
    = f.input :website
    = f.input :twitter
    = f.input :public, as: :boolean

    = f.input :photo, as: :file
    = f.input :photo_cache, as: :hidden
    = link_to "Change your password", user_password_edit_path

    .form-actions
      = f.button :submit, class: 'btn-success btn-large'
= link_to "Back", :back
