.span3
  - if can? :edit_avatar, owner
    = link_to "http://gravatar.com/emails/" do
      = image_tag(avatar_url(owner.email, width: 210), class: 'img-circle', :"rel"=> "tooltip", :'data-placement'=>"top", :'data-original-title'=>"Change your avatar at Gravatar.com")
  - else
    = image_tag(avatar_url(owner.email, width: 210), class: 'img-circle')
  %h2
    = title ["Our Worfers", owner.username], owner.username
  .details
    - unless owner.bio.blank?
      %blockquote
        %p= owner.bio
    %p
      %i.icon-envelope
      = mail_to owner.email
    - unless owner.website.blank?
      %p
        %i.icon-link
        = link_to owner.website, url_with_protocol(owner.website), rel: :nofollow, target: '_blank'
    - unless owner.twitter.blank?
      %p
        %i.icon-twitter
        = link_to owner.twitter, twitter_url(owner), rel: :nofollow, target: '_blank'
    - unless owner.skills.blank?
      %p
        %i.icon-magic
        %strong Skills
      %ul.unstyled
        - owner.skills.split(',')[0..6].each do |s|
          %li
            %span.label.label-info= s
      %small Showing only first 7 skills from LinkedIn
.span9
  .tabbable
    %ul.nav.nav-tabs
      %li
        %a{href: "#tab1", :"data-toggle"=>"tab"} Working places
      %li
        %a{href: "#tab2", :"data-toggle"=> "tab"} Activity
    .tab-content
      #tab1.tab-pane
        - unless places.blank?
          %ul.thumbnails
            - places.each do |place|
              =render place
        - else 
          .ac No places checked.
      #tab2.tab-pane
        - unless owner.comments.blank?
          - owner.comments.each do |review|
            = render partial: "places/review", locals: { activity: review }
        - else
          .ac No recent activities.
