%ul.span14.thumbnails
  - @featured.each do |user|
    %li.span3
      .thumbnail
        - if user.photo?
          = link_to image_tag(user.photo_url(:medium)), profile_path(user.username || 'nil')
        - else
          = link_to image_tag('http://cambelt.co/icon/avatar/320x240'), profile_path(user.username || 'nil')
        .caption
          %h5
            = link_to truncate(user.name, :length => 18),  profile_path(user.username || 'nil')
              
%ul.span14.thumbnails
  - @users.each do |user|
    %li.span3
      .thumbnail
        - if user.photo?
          = link_to image_tag(user.photo_url(:medium)), profile_path(user.username || 'nil')
        - else
          = link_to image_tag('http://cambelt.co/icon/avatar/320x240'), profile_path(user.username || 'nil')
        .caption
          %h5
            = link_to truncate(user.name, :length => 18),  profile_path(user.username || 'nil')
