.page-header
  %h1= "#{@user.username}'s profile"

.row-flud
  .span4
    %h4 Contact Info
    - if user_signed_in?
      = @user.email
    - else
      %p You must be logged in to see that information.
  .span4
    %h4= " Who is #{@user.username}?"
    = @user.bio
