.row-fluid
  .span3
    - if @user.photo?
      = image_tag(@user.photo_url(:profile))
    - else 
      = image_tag('http://placekitten.com/300/350')
  .span8
    %h1= "#{@user.username}"
    %hr

    %table.table.table-striped
      %tbody
        %tr
          %th.span2 Email
          %td= @user.email if user_signed_in?
        %tr
          %th Bio 
          %td= @user.bio
        %tr
          %th Website 
          %td= link_to @user.website, @user.website
        %tr
          %th Skillz 
          %td
        %tr
          %th Twitter 
          %td= link_to "@#{@user.twitter}", "http://twitter.com/#{@user.twitter}"
%hr
