.hero-unit
.row.users
  .span3
    - if can? :edit_avatar, @user
      = link_to "http://gravatar.com/emails/" do
        = image_tag(avatar_url(@user.email, width: 210), class: 'thumbnail', :"rel"=> "tooltip", :'data-placement'=>"top", :'data-original-title'=>"Change your avatar at Gravatar.com") 
    - else
      = image_tag(avatar_url(@user.email, width: 210), class: 'thumbnail')
  .span9
    %h2
      = @user.name

    %table.table.table-condensed
      %tbody
        %tr
          %th.span2 Email
          %td= @user.email if user_signed_in?
        %tr
          %th Bio 
          %td= @user.bio
        %tr
          %th Website 
          %td= link_to @user.website, url_with_protocol(@user.website), target: '_blank'
        %tr
          %th Skillz 
          %td
        %tr
          %th Twitter 
          %td= link_to @user.twitter, twitter_url(@user)
