.row
  .span3
    - if @user.photo?
      = image_tag(@user.photo_url(:profile))
    - else 
      = image_tag('http://placekitten.com/300/350')
  .span8
    %h1= "#{@user.username}"
    %hr

    %table.table.table-striped
      %tbody
        %tr
          %th.span2 Email
          %td= @user.email if user_signed_in?
        %tr
          %th Bio 
          %td= @user.bio
        %tr
          %th Website 
          %td= link_to @user.website, @user.website
        %tr
          %th Skillz 
          %td
        %tr
          %th Twitter 
          %td
            %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/#{@user.twitter}"} Follow 
            :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %hr      
    - if @user.is_cow
      %h3
        = image_tag('http://openclipart.org/image/800px/svg_to_png/169174/1332946695.png', :width => '70px', :height => '70px', :style => "float:left; margin-right: 20px;")
        Cow!
        %p
        This user shared more than three places

    - else
      %h3
        = image_tag('http://openclipart.org/image/800px/svg_to_png/133591/baby-tux-vache-no-logo.png', :width => '70px', :height => '70px', :style => "float:left; margin-right: 20px;")
        Veal! 
        %p
        This user shared less than three places.
%hr
