.hero-unit
  %h2 Change Your Password

.row
  .span12
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { method: :put, class: 'form-horizontal' }) do |f|
      = devise_error_messages!

      = f.hidden_field :reset_password_token
      %fieldset
        %legend Change Your Password 

        = f.input :password
        = f.input :password_confirmation

      .form-actions
        = f.submit "Change my password"
