.hero-unit
  %h2= title "Change Your Password"

.row
  .span12
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { method: :put, class: 'form-horizontal' }) do |f|

      = f.input :reset_password_token, as: :hidden

      = f.input :password
      = f.input :password_confirmation

      .control-group
        .controls
          = f.submit "Change my password", class: 'btn btn-primary'
