.hero-unit
  %h2= title "Your Profile"

.row
  .span12
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { method: :put, class: 'form-horizontal' }) do |f|

      = render partial: "users/form_inputs", locals: { f: f, resource: resource }


      .control-group
        .controls
          = link_to "Connect with LinkedIn account", user_omniauth_authorize_path(:linkedin), class: 'zocial linkedin'
      .control-group
        .controls
          = link_to "Change your password", user_password_edit_path

      = f.button :submit, class: 'btn-success btn-large'
