#demand.modal.hide.fade.in 
  = simple_form_for(PlaceRequest.new, html: { class: 'form-horizontal' }) do |f|
    = f.input :place, as: :hidden, input_html: { value: @place.id }
    .modal-header
      %a.close{href:'#', :'data-dismiss' => 'modal'} x
      %h3 Ask to cowork there 
      %p Tell when you would like to come, a bit about yourself, and how you would like to be contacted back (phone, mail...)
    .modal-body
      %fieldset
        = f.input :requested_on, input_html: { rows: 4, class: 'span4 date_picker' }
        = f.input :body, as: :text, input_html: { rows: 4, class: 'span4' }

    .modal-footer
      = f.button :submit, class: 'btn btn-success btn-large'
