#getting-started.modal.hide.fade.in 
  = simple_form_for(Demand.new) do |f|
    .modal-header
      %p &nbsp;
      %h1 Coworfing
      %p 
        = t('modal.motto')
    .modal-body
      %h3 
        = t('modal.invite')
      %p 
        = t('modal.description')
      .input-append
        %p &nbsp;
        = f.input :email, label: false, input_html: { class: 'span4', placeholder: t('mail_input') }
        = f.submit t('invite_me'), class: 'btn btn-danger btn-large'
        = link_to t('explain'), about_path, class: 'btn btn-large'
    .modal-footer
      %h3{:style => "text-align:left"}
        = t('modal.account?')
      = link_to t('login'), new_user_session_path, class: 'btn btn-info btn-large pull-right'
    %p{:style => "text-align:center;"}
      &nbsp;
      = link_to_unless_current "English", locale: "en"
      |
      = link_to_unless_current "Français", locale: "fr"
