#getting-started.modal.hide.fade.in 
  = simple_form_for(Demand.new) do |f|
    .modal-header
      %p &nbsp;
      %h1 Coworfing
      %p Our homes are coworking spaces
    .modal-body
      %h3 Ask for an invitation
      %p We are a network of teleworkers, freelancers and entrepreneurs. We put in common our workplaces and home offices. 
      %p Find places to work anywhere and stop working alone. 
      .input-append
        %p &nbsp;
        = f.input :email, label: false, input_html: { class: 'span4', placeholder: 'Enter your email address...' }
        = f.submit 'Invite me', class: 'btn btn-large'
        = link_to 'Explain to me', about_path, class: 'btn btn-danger btn-large'
    .modal-footer
      %h3 Already have an account? 
      = link_to 'Login', new_user_session_path, class: 'btn btn-info btn-large'
    %p &nbsp;
