.hero-unit
  .ac
    %h1= title "About Us"
.row
  .span4
    %p
      = image_tag('nukomeet.png', class: 'thumbnail')
  .span8
    %h3 Us
    %p
      We are a team of developers from
      %a{:href => "http://www.nukomeet.com"} Nukomeet
      \. We work from home, coworking spaces, cafés, airports... wherever you can find decent Wi-Fi. We are nomads who like to work in different places.
    %p
      We believe that
      %strong having no office
      is an opportunity. It allows us to change places, which helps us
      %strong boost our creativity,
      %strong meet new people,
      and to get a fresh viewpoint on our problems.

%hr

%h3 Our story
.row
  .span12
    %p
      Because we were always hunting for new places to work, we started with a simple idea (that came from our friend
      %a{:href => "https://twitter.com/ecolepublique"} @ecolepublique
      ) we just gathered addresses of cool cafés in Paris, where the Wi-Fi is decent and waiters are not assholes (both conditions are hard to find in the same place) and made a simple map with it. Then, the idea came to us to open our own homes to each other to cowork. We found it so cool that we decided to make an app for that and to open it to (selected) people.

    %hr

    %h3 Where we stand now
    %p
      The app is still under development, but it already does what we wanted to: allow you to share the places where you like to work. Don't be surprised if you see some bugs, just
      %a{:href => "https://docs.google.com/spreadsheet/viewform?formkey=dFlnNkJkOEVvOVR1N2RWaGtUaGM3RUE6MQ"} let us know.
    %p
      New features and mobile apps are coming soon. To stay in touch you can subscribe to
      %a{:href => "http://coworfing.tumblr.com"}our blog
      ,
      %a{:href => "https://twitter.com/coworfing"} our Twitter
      &
      %a{:href => "http://www.facebook.com/coworfing"} our Facebook Page.

%hr

.row
  .span12
    %h3
      What we believe in

    %p We believe:
    %ul
      %li
        %p that offices were justified by the scarcity of tools and the will to control employees. Most of the time our tools are our brains, hands, computers, phones and books. We don't need offices any more.
      %li
        %p that we are at a time where can reinvent the notion of a proper place to work. Why not parks? Swimming pools? Trains? The comfortable home of a stranger? We can travel, switch places and be in a nice environment. It does not go against our productivity, on the contrary.
      %li
        %p that the need of a "serious environment" to do "serious work" is corporate bullshit that creates unhappy, non-creative, and unproductive people.
      %li
        %p that having no office doesn't mean working alone. On the contrary, it's an opportunity to work with plenty of other people, with different backgrounds and activities.
      %li
        %p that coworking is connecting together free and like-minded individuals that have complementary skills. From this emerges collaboration, solidarity, creativity, projects, companies, and more.
      %li
        %p in a world of creative and independent individuals helping each other in order to stay free and sustainable without needing corporations.
    %p
      Maybe we're wrong, but if you also believe this, join the revolution with Coworfing.

.hero-unit
  %h2.ac Our stats
  %p.ac
    = @user_count
    = t('home.worfers')
    = @place_count
    = t('home.places')
