.page-header
  .subhead.jumbotron
    %h1.centered.upcase Coworking Everywhere 
    %hr.margin
.row-fluid.home
  .span6
    .shit 
      %h2
        = t('description.title1')
        %p &nbsp;
      %p
        %strong= t('description.par1')
        = t('description.par2')
        %strong= t('description.par3')
        = t('description.par4')
      %p
        %strong= t('description.title2')
        = t('description.par5')

    %hr.margin

    %h2
      = t('description.invite')
      %p
        &nbsp;
        = simple_form_for(Demand.new, html: { class: 'huge form-inline' }) do |f|
          = f.input :email, label: false, input_html: { class: 'span5', placeholder: 'Enter your email address...', :style => "float:left;" }
          = f.submit 'Invite me', class: 'btn btn-danger btn-large' 
        &nbsp;

      %p
        &nbsp;
        or just browse the public places
        = form_tag places_path, method: :get, class: 'form-inline'  do
          = select_tag "cities", options_for_select(Place.all.distinct(:city)), multiple: true, class: 'span5 chzn-select', :style => "float:left;"
          = submit_tag t('search'), class: 'btn btn-warning', :style => "margin-top : -19px; margin-left: -6px;"
  .span5.offset2
    .stats.well{:style => " text-align: center;"}
      %h1 
        = @user_count 
        %small
          = t('home.worfers')
      %h1 
        = @place_count 
        %small
          = t('home.places')
      %h1 
        = @place_req_count
        %small
          =t('home.requests')
