.page-header
  .subhead.jumbotron
    %h1.centered.upcase Coworking Everywhere 
    %hr.margin
.row-fluid.home
  .span5
    .stats
      %h1 
        = @user_count 
        %small
          = t('home.worfers')
      %h1 
        = @place_count 
        %small
          = t('home.places')
      %h1 
        = @place_req_count
        %small
          =t('home.requests')
  .span7
    .shit 
      %h2
        = t('description.title1')
        %p &nbsp;
      %p
        = t('description.par1')
        %p &nbsp;
      %h2
        = t('description.title2')
        %p &nbsp;
      %p
        = t('description.par2')

    %hr.margin

    %h2 
      = t('description.title3')
    %h2
      = t('description.invite')
      %p
        &nbsp;
        = simple_form_for(Demand.new, html: { class: 'huge form-inline' }) do |f|
          = f.input :email, label: false, input_html: { class: 'span5', placeholder: 'Enter your email address...' }
          = f.submit 'Invite me', class: 'btn btn-danger btn-large' 

