.row.home
  %h1.callout=raw t('description.title1')
  %h3.hand.head  
    = @user_count 
    = "#{t('home.worfers')}. "
    = @place_count 
    = "#{t('home.places')}. "
    = @place_req_count
    = "#{t('home.requests')}. "
  
  #hero
    #video.span6
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/C6c2su5_v6I", :width => "472"}
          
    #search.span6
      %h3
        = t('description.invite')
      %p
        = t('description.par1')
        %strong= t('description.par2')
        = t('description.par3')
        %strong= t('description.par4')
      = form_for Demand.new do |f|
        %fieldset
          .controls
            .input-append
              = f.text_field :email, {class: "span4 large", placeholder: 'Enter your email address...'}
              = f.submit 'Invite me', class: 'btn btn-success btn-large'
