#map
  .hero-unit.faq
    .ac
      %form.form-inline
        .controls
          .input-append
            = text_field_tag 'place_input', nil, placeholder: t('search')
            = button_tag t('search'), class: 'btn btn-search btn-success', id: 'map_search' do
              %i.icon-search.icon-white

= content_for :map do
  .container
    .hero-unit.ac
      %h2= title "We share the places where we like to work."
      - unless user_signed_in?
        = link_to "Sign in with LinkedIn", user_omniauth_authorize_path(:linkedin), class: 'zocial linkedin'
  #mapino

= content_for :preload_javascript do
  %script{ src: "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en", :type => "text/javascript" }

= content_for :javascript do
  %script
    var places = new C.Places(#{raw @places.to_json});
    var mapView = new C.MapView({ collection: places, userLocation: #{raw @location.to_json} });
