%hr
.span7
  = form_tag places_path, method: :get, class: 'form-inline'  do
    = select_tag "cities", options_for_select(Place.uniq.pluck(:city)), multiple: true, class: 'span6 chzn-select'
    = submit_tag t('search'), class: 'btn btn-info', :style => "margin-top : -25px;"
.span4.pull-right
  = link_to new_place_path, { class: 'btn btn-info' } do
    %i.icon-map-marker.icon-white
    &nbsp;
    = t('add')

%ul.thumbnails
  %li.span12
    #mapino.thumbnail

- unless user_signed_in?
  = render partial: 'shared/getting_started_modal' 
