#map
  .row
    .span8
      %form.form-inline
        .controls
          .input-append
            = text_field_tag 'place_input', nil, class: 'span6'
            = button_tag t('search'), class: 'btn', id: 'map_search'

    .span4.last
      = link_to new_place_path, { class: 'btn btn-info' } do
        %i.icon-map-marker.icon-white
        &nbsp;
        = t('add')

  %ul.thumbnails
    %li.span12
      #mapino.thumbnail

= content_for :javascript do
  %script
    var places = new C.Places(#{raw @places.to_json});
    var mapView = new C.MapView({ collection: places });
