#map
  .hero-unit.faq
    .ac
      %form.form-inline
        .controls
          .input-append
            = text_field_tag 'place_input', nil, placeholder: t('search')
            = button_tag t('search'), class: 'btn btn-search btn-success', id: 'map_search' do
              %i.icon-search.icon-white

= content_for :map do
  #mapino

= content_for :javascript do
  %script
    var places = new C.Places(#{raw @places.to_json});
    var mapView = new C.MapView({ collection: places, userLocation: #{raw @location.to_json} });
