.row-fluid
  .span12
    %p.list-place.centered
      = link_to new_place_path, { class: 'btn btn-info btn-large' } do
        %i.icon-map-marker.icon-white
        &nbsp;
        = t('add')

    %hr

    = form_tag list_path, method: :post, class: 'form-inline'  do
      = select_tag "cities", options_for_select(Place.all.distinct(:city)), multiple: true, class: 'span6 chzn-select', :style => "float:left;" 
      = submit_tag t('search'), class: 'btn btn-warning', :style => "margin-top: -23px;"

    %hr

%ul.row-fluid.thumbnails.masonry
  - @places.each do |place|
    %li.span3.brick
      .thumbnail
        - if place.photo?
          = image_tag(place.photo_url(:medium))
        - else
          = image_tag('home.jpg')
        .caption
          %h5
            = place.name
            - if place.public
              %span.label.label-info.pull-right.upcase public
            - else
              %span.label.label-warning.pull-right.upcase private
          %p= truncate(place.desc, length: 30)
          .facets
            - if place.music
              %span.icon-music
            - else
              %span.icon-headphones
            - if place.smoke
              %span.icon-ok-circle
            - else
              %span.icon-ban-circle
            - if place.discussion
              %span.icon-comment
            - else
              %span.icon-remove-circle
          %p
            .btn-toolbar
              .btn-group
                = link_to place, { class: 'btn' } do
                  %i.icon-info-sign
                  = t('details')
                  »
