.row-fluid
  .span12
    %p.list-place.centered
      = link_to new_place_path, { class: 'btn btn-info btn-large' } do
        %i.icon-map-marker.icon-white
        &nbsp; Add a place

    %hr

%ul.row-fluid.thumbnails.masonry
  - @places.each do |place|
    %li.span3.brick
      .thumbnail
        - if place.photo?
          = image_tag(place.photo_url(:medium))
        - else
          = image_tag('home.jpg')
        .caption
          %h5= place.name
          %p= truncate(place.desc, length: 36)
          %p= truncate(place.address_line1, length: 36)
          %p
            .btn-toolbar
              .btn-group
                = link_to place, { class: 'btn' } do
                  %i.icon-info-sign
                  View Details »
