.row-fluid
  .span12
    %p.list-place.centered
      = link_to new_place_path, { class: 'btn btn-info btn-large' } do
        %i.icon-map-marker.icon-white
        &nbsp; Add Your Place

    %hr

%ul.row-fluid.thumbnails.masonry
  - @places.each do |place|
    %li.span3.brick
      .thumbnail
        - if place.photo?
          = image_tag(place.photo_url)
        - else
          %img{src: 'http://placehold.it/420x340'}
        .caption
          %h5= place.name
          %p= place.desc
          %p= place.address_line1
          %p
            .btn-toolbar
              .btn-group
                = link_to 'View details »', place, { class: 'btn' }
