= simple_form_for([@place, PlaceRequest.new], html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .modal-header
    %a.close{href:'#', :'data-dismiss' => 'modal'} x
    %h3 Make a place request 
  .modal-body
    %fieldset
      = f.input :date, input_html: { rows: 4, class: 'span4 date_picker' }
      = f.input :body, as: :text, input_html: { rows: 4, class: 'span4' }

  .modal-footer
    = f.button :submit, class: 'btn'
