.row-fluid
  .span3
    %ul.nav.nav-tabs.nav-stacked
      %li
        = link_to 'Received', received_place_requests_path
      %li
        = link_to 'Sent', sent_place_requests_path

  .span9
    %table.table.table-condensed.place_requests
      %thead
        %tr
          %th #
          %th From
          %th Place Name
          %th Status 
          %th Requested At
          %th{colspan: 3}

      %tbody
        - @place_requests.each_with_index do |place_request, idx|
          %tr
            %td{rowspan:2}= idx+1
            %td
              = link_to place_request.booker.name, profile_path(place_request.booker.username)
            %td
              = link_to place_request.place.name, place_path(place_request.place)
            %td= place_request.status
            %td= l place_request.created_at
            %td
              .btn-toolbar.pull-right
                .btn-group
                  = confirm_button_with_class('Approve', approve_place_request_path(place_request), 'Are you sure?', 'btn btn-success', ! place_request.pending?)
                  = confirm_button_with_class('Reject', reject_place_request_path(place_request), 'Are you sure?', 'btn btn-danger', ! place_request.pending?)
          %tr
            %td{colspan:4}
              %em= place_request.body

%br/
= link_to 'New Place request', new_place_request_path
