.row
  .span2
    %ul.nav.nav-tabs.nav-stacked
      %li
        = link_to 'Received', received_place_requests_path
      %li
        = link_to 'Sent', sent_place_requests_path

  .span10
    %table.table.table-condensed.place_requests
      %thead
        %tr
          %th #
          %th To
          %th Place Name
          %th Status 
          %th Sent 

      %tbody
        - @place_requests.each_with_index do |place_request, idx|
          %tr
            %td{rowspan:2}= idx+1
            %td
              = link_to place_request.receiver.name, profile_path(place_request.receiver.username)
            %td
              = link_to place_request.place.name, place_path(place_request.place)
            %td= status_h(place_request.status)
            %td= time_ago_in_words(place_request.created_at)
          %tr
            %td{colspan:4}
              %em= place_request.body
