= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal' }) do |f|

  %fieldset 
    %legend Login 

    = f.input :email
    = f.input :password

    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean

    .form-actions
      = f.submit "Sign in", class: 'btn btn-info'
      - if devise_mapping.recoverable? && controller_name != 'passwords'
        = link_to "Forgot your password?", new_password_path(resource_name), class: 'btn'

  %hr
    %h3{:style => "float:left;"} 
      Not registered yet? Ask for an invite 
    = form_for Demand.new do |f|
      %fieldset
        .controls
          .input-append
            = f.text_field :email, {class: "span4", placeholder: 'Enter your email address...'}
            = f.submit 'Invite me', class: 'btn btn-success'
