= simple_form_for(@organization, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  = f.input :name
  = f.input :gravatar_email
  = f.input :website

  .controls
    = f.button :submit, class: 'btn btn-primary'
