.hero-unit
  %h2= title "Communities"

.row
  .span8
    %table.table.table-hover
      %tr
        %th #
        %th Name
        %th Email
        %th Members
        %th

      - @organizations.each_with_index do |organization, idx|
        %tr
          %td= idx+1
          %td= organization.name
          %td= organization.gravatar_email
          %td= organization.memberships.count
          %td{colspan: 2}
            = link_to 'Edit', edit_organization_path(organization), class: 'btn btn-mini'
            = link_to 'Members', organization_memberships_path(organization), class: 'btn btn-mini'
            = link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-mini'

  .span4 
    %em 
      A community
    is a closed group of people with whom you can share places. Select the people with whom you want to share places. 
  
    = link_to 'New Community', new_organization_path, class: 'btn btn-primary'
