= simple_form_for(@place, html: { multipart: true, class: 'form-horizontal'}) do |f|
  = f.error_notification

  %fieldset
    .span8
      %legend List Your Place

      = f.input :name, input_html: { class: 'span5' }
      
      - if !@place.photo? || @place.new_record?
        - unless @place.photo_cache.nil?
          = f.input :photo, as: :file, :hint => @place.photo_name.to_s
        -else
          = f.input :photo, as: :file
        = f.hidden_field :photo_cache
      - else
        = f.input :remove_photo, as: :boolean
        .control-group
          .control-label Image
          .controls
            %ul.thumbnails
              %li.thumbnail= image_tag(@place.photo_url(:thumb)) 
      = f.input :address_line1, input_html: { class: 'span5' }
      = f.input :city, input_html: { class: 'span3' }
      = f.input :country, input_html: { class: 'span3 chzn-select' }
      = f.input :desc, as: :text, input_html: { rows: 4, class: 'span5' }
      = f.input :website, input_html: { class: 'span3' }
      = f.input :wifi, input_html: { class: 'span5' }
      = f.input :transport, as: :text, input_html: { rows: 4, class: 'span5' }

    .span6
      %legend Provide some details
      = f.input :kind, required: true, collection: Place.get_kind_values, input_html: { class: 'chzn-select span2' }

      = f.input :features, label: 'Smoke' do
        = check_box_tag 'place[features][]', 'smoke' 

  .form-actions
    = f.button :submit, class: 'btn-info btn-large'
