.row
  .span7
    .notification
      - if user_signed_in? && current_user.is_cow        
        .span1
          = image_tag('tux-vache.png', :width => '70px', :height => '70px', :style => "float:left; margin-right: 20px;")
        .span5
          %h3
            You are a Cow 
          %p.center
            You can see private places and ask to cowork there. 
            Add more places to increase your karma!
      - else
        .span1
          = image_tag('baby-tux-vache-no-logo.png', :width => '70px', :height => '70px', :style => "float:left; margin-right: 20px;")
        .span5
          %h3           
            You are a Veal 
          %p.center
            Veal users can only access to public places. 
            Add 3 places and you will gain access to private places! 
  .span5
    %p.list-place{:style => "margin-left:50px; margin-top: 30px;"}
      = link_to new_place_path, { class: 'btn btn-info btn-large' } do
        %i.icon-map-marker.icon-white
        &nbsp;
        = t('add')

%hr

= form_tag places_path, method: :get, class: 'form-inline'  do
  = select_tag "cities", options_for_select(Place.all.distinct(:city)), multiple: true, class: 'span6 chzn-select', :style => "float:left;"
  = submit_tag t('search'), class: 'btn btn-info', :style => "margin-top : -25px;"

%hr

%ul.span14.thumbnails
  - @places.each do |place|
    %li.span3
      .thumbnail
        - if place.photo?
          = link_to image_tag(place.photo_url(:medium)), place, rel: "popover", "data-original-title" => place.name, "data-content" => place.desc, class: 'place_photo'
        - else
          = link_to image_tag('home.jpg'), place, rel: "popover", "data-original-title" => place.name, "data-content" => place.desc, class: 'place_photo'
        .caption
          %h5
            = link_to truncate(place.name, length: 20), place
            - if place.public
              %span.label.label-info.pull-right.upcase 
                public
            - else
              %span.label.label-warning.pull-right.upcase 
                private
          .place_row
            = truncate(place.desc, length: 20)
            .facets.pull-right
              - if place.music
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.music'), :class => 'icon-music icon_tooltip'}
              - else
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.quiet'), :class => 'icon-headphones icon_tooltip'}                
              - if place.smoke
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.smoking'), :class => 'icon-ok-circle icon_tooltip'}                
              - else
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.no_smoking'), :class => 'icon-ban-circle icon_tooltip'}
              - if place.discussion
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.discussion'), :class => 'icon-comment icon_tooltip'}              
              - else
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.blabla'), :class => 'icon-remove-circle icon_tooltip'}              
          
.row
  .span12
    = paginate @places, theme: 'bootstrap'
