.hero-unit

.row
  .span8
    %h1.lead
      %strong You can only see public places.
      Add a place and you will gain access to private places! 
  .span4
    %p.ac
      = link_to new_place_path, { class: 'btn btn-primary btn-large' } do
        %i.icon-map-marker.icon-white
        = t('add')
#places
  .hero-unit.faq
    .ac
      = form_tag "/l", method: :get, id: "search_form", class: 'form-inline'  do
        .controls
          .input-append
            = text_field_tag "cities[]", nil || params[:cities], placeholder: t('search'), id: "location" 
            = button_tag '', id: "submit_location", class: 'btn btn-search btn-success', name: "" do
              %i.icon-search.icon-white

  %hr

  %ul.span14.thumbnails
    - @places.each do |place|
      %li.span3
        .thumbnail
          - if place.photos.empty?
            = link_to image_tag('home.jpg'), place, rel: "popover", "data-original-title" => place.name, "data-content" => place.desc, class: 'place_photo'
          - else
            = link_to image_tag(place.photos.first.photo_url(:medium)), place, rel: "popover", "data-original-title" => place.name, "data-content" => place.desc, class: 'place_photo'
          .caption
            %h5
              = link_to truncate(place.name, length: 20), place
              %span{ :class=> "label label-#{place.kind} pull-right upcase" } 
                = place.kind
            .place_row
              = truncate(place.desc, length: 20)
              .facets.pull-right
                - if place.features?(:music)
                  %span{'rel' => 'tooltip', 'data-original-title' => t('place.music'), :class => 'icon-music icon_tooltip'}
                - else
                  %span{'rel' => 'tooltip', 'data-original-title' => t('place.quiet'), :class => 'icon-headphones icon_tooltip'}                
                - if place.features?(:smoke)
                  %span{'rel' => 'tooltip', 'data-original-title' => t('place.smoking'), :class => 'icon-ok-circle icon_tooltip'}                
                - else
                  %span{'rel' => 'tooltip', 'data-original-title' => t('place.no_smoking'), :class => 'icon-ban-circle icon_tooltip'}
                - if place.features?(:discussion)
                  %span{'rel' => 'tooltip', 'data-original-title' => t('place.discussion'), :class => 'icon-comment icon_tooltip'}              
                - else
                  %span{'rel' => 'tooltip', 'data-original-title' => t('place.blabla'), :class => 'icon-remove-circle icon_tooltip'}              
            
  .row
    .span12
      = paginate @places, theme: 'bootstrap'


= content_for :preload_javascript do
  %script{ src: "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en", :type => "text/javascript" }
  
= content_for :javascript do
  %script
    var placesView = new C.PlacesSerachForm();
