.row
  - if user_signed_in? 
    .span7
      .row
        .span5
          %h4           
            You can only see public places 
          %p
            Add a place and you will gain access to private places! 
    .span4
      %p.list-place{:style => "margin-left:30px; margin-top: 20px;"}
        = link_to new_place_path, { class: 'btn btn-info btn-large' } do
          %i.icon-map-marker.icon-white
          &nbsp;
          = t('add')
  - else
    .span12
      .login.center
        = link_to new_user_session_path, { class: 'btn btn-info btn-large' } do
          = t('login_to_add')

%hr

= form_tag places_path, method: :get, class: 'form-inline'  do
  = select_tag "cities", options_for_select(@place_names), multiple: true, class: 'span6 chzn-select'
  = submit_tag t('search'), class: 'btn btn-info', :style => "margin-top : -25px;"

%hr

%ul.span14.thumbnails
  - @places.each do |place|
    %li.span3
      .thumbnail
        - if place.photo?
          = link_to image_tag(place.photo_url(:medium)), place, rel: "popover", "data-original-title" => place.name, "data-content" => place.desc, class: 'place_photo'
        - else
          = link_to image_tag('home.jpg'), place, rel: "popover", "data-original-title" => place.name, "data-content" => place.desc, class: 'place_photo'
        .caption
          %h5
            = link_to truncate(place.name, length: 20), place
            - if user_signed_in?
              - if place.public?
                %span.label.label-info.pull-right.upcase 
                  public
              - elsif place.business?
                %span.label.label-success.pull-right.upcase 
                  pro
              - else
                %span.label.label-warning.pull-right.upcase 
                  private
          .place_row
            = truncate(place.desc, length: 20)
            .facets.pull-right
              - if place.features?(:music)
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.music'), :class => 'icon-music icon_tooltip'}
              - else
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.quiet'), :class => 'icon-headphones icon_tooltip'}                
              - if place.features?(:smoke)
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.smoking'), :class => 'icon-ok-circle icon_tooltip'}                
              - else
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.no_smoking'), :class => 'icon-ban-circle icon_tooltip'}
              - if place.features?(:discussion)
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.discussion'), :class => 'icon-comment icon_tooltip'}              
              - else
                %span{'rel' => 'tooltip', 'data-original-title' => t('place.blabla'), :class => 'icon-remove-circle icon_tooltip'}              
          
.row
  .span12
    = paginate @places, theme: 'bootstrap'
