.row
  .span12
    %p.list-place.centered
      = link_to ' Add A Place ', new_place_path, { class: 'btn btn-info btn-large' } 

    %hr

%ul.row.span14.thumbnails
  - @places.each do |place|
    %li.span3
      .thumbnail
        - if place.photo?
          = link_to image_tag(place.photo_url(:medium)), place, rel: "popover", "data-original-title" => place.name, "data-content" => place.desc, class: 'place_photo'
        - else
          = link_to image_tag('home.jpg'), place, rel: "popover", "data-original-title" => place.name, "data-content" => place.desc, class: 'place_photo'
        .caption
          %h5= truncate(place.name) 
          %p= truncate(place.desc, :length => 25)
          %p= truncate(place.address_line1, :length => 25)
          %p
            .btn-toolbar
              .btn-group
                = link_to 'Show', place, { class: 'btn btn-info' }
              .btn-group
                = link_to 'Edit', edit_place_path(place), { class: 'btn' }
                = link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger'

  = paginate @places
