.row
  .span12
    %p.list-place.centered
      = link_to ' Add A Place ', new_place_path, { class: 'btn btn-info btn-large' } 

    %hr

%ul.row.span14.thumbnails
  - @places.each do |place|
    %li.span3
      .thumbnail
        - if place.photo?
          = image_tag(place.photo_url(:medium))
        - else
          %img{src: 'http://placehold.it/320x240'}
        .caption
          %h5= place.name
          %p= place.desc
          %p= place.address_line1
          %p
            .btn-toolbar
              .btn-group
                = link_to 'Show', place, { class: 'btn' }
              .btn-group
                = link_to 'Edit', edit_place_path(place), { class: 'btn' }
                = link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger'

  = paginate @places
