%div[@place, Mida(:Place)]
  .hero-unit
  .row
    .span6
      %h1
        %span[:name]= title ["#{@place.kind} place", @place.name], @place.name
        %meta{ itemprop: "url", content: place_url(@place) }
      %address[:address, Mida(:PostalAddress)]{:style=>"color: #666"}
        .icon-map-marker
        %span[:streetAddress]= @place.address_line1
        ,
        %span[:addressLocality]= @place.city
        ,
        %span[:addressCountry]= @place.country
      %p
        %span{ :class=> "label label-#{@place.kind} upcase" }
          = @place.kind 
      #map-details
        - static_map_url = "http://maps.google.com/maps/api/staticmap?size=450x140&sensor=false&zoom=15&markers=#{@place.latitude}%2C#{@place.longitude}"
        = link_to image_tag(static_map_url, :class=>"thumbnail"),"http://maps.google.com/maps?q=#{@place.latitude}%2C#{@place.longitude}+(Welcome%A0to%A0#{@place.name}%A0Coworfing!)", :target => "_blank"
        %meta{ itemprop: "map", content: static_map_url }
        %span[:geo, Mida(:GeoCoordinates)]
          %meta{ itemprop: "latitude", content: @place.latitude }
          %meta{ itemprop: "longitude", content: @place.longitude }
      .details  
        - unless @place.desc.blank?
          %blockquote
            %p= @place.desc
        - unless @place.website.blank?
          %p
            %i.icon-link
            = link_to @place.website, url_with_protocol(@place.website), rel: :nofollow, target: '_blank'
        - unless @place.tags.blank?
          %p.features
            %i.icon-tags
            %strong Features
          %ul.unstyled.clearfix
            - @place.tag_list.each do |t|
              %li
                %span.label.label-info
                  = link_to t, tag_path(t)
        %ul.thumbnails.span6
          - @place.photos.each do |photo|
            %li.span2.thumbnail
              = image_tag(photo.photo_url(:big), :itemprop => "image")  
    .span6
      .tabbable
        %ul.nav.nav-tabs
          %li
            %a{href: "#tab1", :"data-toggle"=>"tab"} People
          - unless @nearbys.empty?
            %li
              %a{href: "#tab2", :"data-toggle"=> "tab"} Nearby Places
          %li
            %a{href: "#tab3", :"data-toggle"=> "tab"} Reviews
        .tab-content
          #tab1.tab-pane
            .ac No people worked here.
          - unless @nearbys.empty?
            #tab2.tab-pane
              %ul.thumbnails.row
                - @nearbys.each do |place|
                  .span2.nearby
                    .thumbnail
                      - unless place.photos.empty?
                        = link_to image_tag(place.photos.first.photo_url(:thumb)), place_path(place)
                      - else
                        %img{src: 'http://placehold.it/240x180'}
                      .caption
                        = link_to truncate(place.name, :length => 18), place_path(place)
          #tab3.tab-pane
            - if @place.comments.size > 0
              - for comment in @place.comments
                %h4
                  = link_to comment.username, profile_path(comment.username)
                %p= comment.content
            - else 
              .ac No reviews.
            - if user_signed_in?

              %h5
                = t('place.tell_us')
              = simple_form_for [@place, Comment.new] do |f|
                %p
                %p= f.text_area :content, :rows => 5, class: 'span6'
                = f.button :submit, class: 'btn btn-primary'
                  
= content_for :javascript do
  :javascript
    $('.item').first().addClass("active");
