.page-header
  %h1= @place.name
  %p 
    Added by
    = link_to @place.user.username, profile_path(@place.user.username) 

.row-fluid
  .span4
    = image_tag "http://maps.google.com/maps/api/staticmap?size=460x300&sensor=false&zoom=16&markers=#{@place.coordinates[1]}%2C#{@place.coordinates[0]}"
  .span8
    .row-fluid
      .span8
        - if @place.photo?
          = image_tag(@place.photo_url(:thumb))
        - else
          %img{src: 'http://placehold.it/240x160'}
    .row-fluid
      .span4
        %h3 Address
        %p= @place.address
        %a.disabled.btn.btn-large{href:'#demand', :'data-toggle' => 'modal'} 
          %i.icon-white.icon-lock
          Make a demand 

      .span4
        %h3 Description
        %p= @place.desc
    - if can? :update, @place 
      %p= link_to 'Edit', edit_place_path(@place), { class: 'btn' }

%hr

%h2 Near by
%ul.thumbnails.row-fluid
  - @place.nearbys(0.5, {:units => :km}).each do |place|
    .span2
      .thumbnail
        - if place.photo?
          = image_tag(place.photo_url(:thumb))
        - else
          %img{src: 'http://placehold.it/300x200'}
        .caption
          %h5= place.name
          %p= place.address

- if false
  = render partial: 'shared/demand_modal' 
