.hero-unit
.row
  %div[@place, Mida(:Place)]
    .span7
      .thumbnail
        - if @place.photos.empty?
          = image_tag('http://cambelt.co/540x540/Add+Your+Photo', :itemprop => "image" )    
        - else
          #carousel.carousel.slide{rel: 'carousel'}
            .carousel-inner
              - @place.photos.each do |photo|
                .item
                  = image_tag(photo.photo_url(:big), :itemprop => "image")
            %a.carousel-control.left{href: "#carousel", 'data-slide' => "prev"} &lsaquo;
            %a.carousel-control.right{href: "#carousel", 'data-slide' => "next"} &rsaquo;
        
    .span5.infos
      %h2
        %span[:name]= title ["#{@place.kind} place", @place.name], @place.name
        %meta{ itemprop: "url", content: place_url(@place) }
      %p
        = t('place.added_by')
        = link_to @place.user_name, profile_path(@place.user_username || @place.user_id) 
        %br/
        - if can? :update, @place 
          = link_to  edit_place_path(@place) do
            %i.icon-pencil
            Edit
            
      - if @place.features?(:music)
        %span{'rel' => 'tooltip', 'data-original-title' => t('place.music'), :class => 'icon-music icon_tooltip'}
      - else
        %span{'rel' => 'tooltip', 'data-original-title' => t('place.quiet'), :class => 'icon-headphones icon_tooltip'}                
      - if @place.features?(:smoke)
        %span{'rel' => 'tooltip', 'data-original-title' => t('place.smoking'), :class => 'icon-ok-circle icon_tooltip'}                
      - else
        %span{'rel' => 'tooltip', 'data-original-title' => t('place.no_smoking'), :class => 'icon-ban-circle icon_tooltip'}
      - if @place.features?(:discussion)
        %span{'rel' => 'tooltip', 'data-original-title' => t('place.discussion'), :class => 'icon-comment icon_tooltip'}              
      - else
        %span{'rel' => 'tooltip', 'data-original-title' => t('place.blabla'), :class => 'icon-remove-circle icon_tooltip'}              
      %p
        %span[:description]= @place.desc
      %p
        =  link_to @place.website, url_with_protocol(@place.website), target: "_blank" 
      %p
        Tags
        = raw @place.tag_list.map { |t| link_to t, tag_path(t)}.join(', ')
      %div[:address, Mida(:PostalAddress)]
        .icon-map-marker
        %span[:streetAddress]= @place.address_line1
        ,
        %span[:addressLocality]= @place.city
        ,
        %span[:addressCountry]= @place.country   
      %p
        .icon-plane
        = @place.transport
      %p
        %span{ :class=> "label label-#{@place.kind} pull-right upcase" } 
          = @place.kind
      - static_map_url = "http://maps.google.com/maps/api/staticmap?size=460x300&sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}"
      = link_to image_tag(static_map_url),"http://maps.google.com/maps?q=#{@place.latitude}%2C#{@place.longitude}+(Welcome%A0to%A0#{@place.name}%A0Coworfing!)", :target => "_blank"
      %meta{ itemprop: "map", content: static_map_url }
      %span[:geo, Mida(:GeoCoordinates)]
        %meta{ itemprop: "latitude", content: @place.latitude }
        %meta{ itemprop: "longitude", content: @place.longitude }
- if @place.comments.size > 0 
  %hr
  %h2 
    = t('place.comments')
  - for comment in @place.comments
    %h4
      = link_to comment.username, profile_path(comment.username) 
    %p= comment.content
- if user_signed_in?
  %hr
  %h2 
    = t('place.tell_us')
  = form_for [@place, Comment.new] do |f|
    %p
    %p= f.text_area :content, :rows => 10, class: 'span6'
    = f.button :submit, class: 'btn-info btn-large'

%h2 
  = t('place.near_by')

%ul.thumbnails.row
  - @place.nearbys(0.5, {:units => :km}).each do |place|
    .span2
      .thumbnail
        - unless place.photos.empty?
          = image_tag(place.photos.first.photo_url(:thumb))
        - else
          %img{src: 'http://placehold.it/240x180'}
        .caption
          %h5
            = link_to place.name, place_path(place)

= render partial: 'shared/demand_modal' 


= content_for :javascript do
  :javascript
    $('.item').first().addClass("active");
