.page-header
  %h1= @place.name
  %p 
    Added by
    = link_to @place.user.username, profile_path(@place.user.username) 

.row-fluid
  .span5
    = image_tag "http://maps.google.com/maps/api/staticmap?size=460x300&sensor=false&zoom=16&markers=#{@place.coordinates[1]}%2C#{@place.coordinates[0]}"
  .span7
    .row
      .span4
        - if @place.photo?
          = image_tag(@place.photo_url(:thumb))
        - else
          %img{src: 'http://placehold.it/240x160&text=Add+Your+Photo'}
        %p
        %p
        %p
        %p.icon-map-marker
        %p= @place.address
        - unless @place.owned_by(current_user)
          - if @place.public
            %span.label.label-info.upcase public
            %p
            %p This is a public place, no need to make a request.
          - else
            %a.btn.btn-large{href:'#demand', :'data-toggle' => 'modal'} 
              %i.icon-white.icon-lock
              Make a demand 

      .span3
        %h3 Description
        %p= @place.desc
        %p.icon-signal
        %p= @place.wifi
        %p.icon-plane
        %p= @place.transport
        - if @place.music
          %span.icon-music
          %p Music in the air
        - else
          %span.icon-headphones
          %p This is a quiet place
        - if @place.smoke
          %span.icon-ok-circle
          %p Smoking is allowed
        - else
          %span.icon-ban-circle
          %p Smoking is not allowed
        - if @place.discussion
          %span.icon-comment
          %p Discussion is welcome
        - else
          %span.icon-remove-circle
          %p No blabla please
    - if can? :update, @place 
      %p= link_to 'Edit', edit_place_path(@place), { class: 'btn' }
      
%hr
- if @place.comments.size > 0
  %h2 Comments
  - for comment in @place.comments
    %h4
      = link_to comment.user.username, profile_path(comment.user.username) 
      's opinion
    %p= comment.content
    %hr
%h2 Tell us what you think about this place 
= form_for [@place, Comment.new] do |f|
  %p
  %p= f.text_area :content, :rows => 10, class: 'span6'
  = f.button :submit, class: 'btn-success btn-large'


%hr
%h2 Near by
%ul.thumbnails.row-fluid
  - @place.nearbys(0.5, {:units => :km}).each do |place|
    .span2
      .thumbnail
        - if place.photo?
          = image_tag(place.photo_url(:thumb))
        - else
          %img{src: 'http://placehold.it/300x200'}
        .caption
          %h5= place.name
          %p= place.address

= render partial: 'shared/demand_modal' 
