.page-header
  %h1= @place.name
  %p 
    = t('place.added_by')
    = link_to @place.user.username, profile_path(@place.user.username) 

.row
  .span5
    = image_tag "http://maps.google.com/maps/api/staticmap?size=460x300&sensor=false&zoom=16&markers=#{@place.coordinates[1]}%2C#{@place.coordinates[0]}"
  .span7
    .row
      .span4
        - if @place.photo?
          = image_tag(@place.photo_url(:thumb))
        - else
          %img{src: 'http://placehold.it/240x160&text=Add+Your+Photo'}
        %p
        %p
          / Foursquare button
          %a.fourSq-widget{"data-variant" => "wide", :href => "https://foursquare.com/intent/venue.html"} Save to foursquare
        %p
        %p.icon-map-marker
        %p= @place.address
        - unless @place.owned_by(current_user)
          - if @place.public
            %span.label.label-info.upcase 
              = t('place.public')
          - else
            %a.btn.btn-large{href:'#demand', :'data-toggle' => 'modal'} 
              %i.icon-white.icon-lock
              = t('place.demand')

      .span3
        %h3 
          = t('place.description')
        %p= @place.desc
        %p.icon-signal
        %p= @place.wifi
        %p.icon-plane
        %p= @place.transport
        - if @place.music
          %span.icon-music
          %p 
            = t('place.music') 
        - else
          %span.icon-headphones
          %p 
            = t('place.quiet')
        - if @place.smoke
          %span.icon-ok-circle
          %p 
            = t('place.smoking')
        - else
          %span.icon-ban-circle
          %p 
            = t('place.no-smoking')
        - if @place.discussion
          %span.icon-comment
          %p 
            = t('place.discussion')
        - else
          %span.icon-remove-circle
          %p 
            = t('place.blabla')
    - if can? :update, @place 
      %p= link_to 'Edit', edit_place_path(@place), { class: 'btn' }
      
%hr
- if @place.comments.size > 0 
  %h2 
    = t('place.comments')
  - for comment in @place.comments
    %h4
      = link_to comment.user.username, profile_path(comment.user.username) 
    %p= comment.content
- if user_signed_in?
  %hr
  %h2 
    = t('place.tell_us')
  = form_for [@place, Comment.new] do |f|
    %p
    %p= f.text_area :content, :rows => 10, class: 'span6'
    = f.button :submit, class: 'btn-success btn-large'


%hr
%h2 
  = t('place.near_by')
%ul.thumbnails.row
  - @place.nearbys(0.5, {:units => :km}).each do |place|
    .span2
      .thumbnail
        - if place.photo?
          = image_tag(place.photo_url(:thumb))
        - else
          %img{src: 'http://placehold.it/240x180'}
        .caption
          %h5
            = link_to place.name, place_path(place)
          %p= place.address

= render partial: 'shared/demand_modal' 
/ Script for foursquare button
:javascript
  (function() {
    window.___fourSq = {};
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.src = 'http://platform.foursquare.com/js/widgets.js';
    s.async = true;
    var ph = document.getElementsByTagName('script')[0];
    ph.parentNode.insertBefore(s, ph);
  })();
