!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html.not-ie{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}/
    - set_meta_tags :description => "As nomads - freelancers, entrepreneurs, students and teleworkers - we created Coworfing to share the places where we like to work: Cafés, bars, coworking spaces, librairies, airports, parks, and even our own homes."
    = display_meta_tags :site => 'Coworfing', :separator => '-'
    %meta{:content => "Nukomeet", :name => "author"}/

    = stylesheet_link_tag :application, :media => "all"

    /[if lte IE 8]
      = stylesheet_link_tag "application-ie", :media => "all"

    = csrf_meta_tags
    
    = render 'layouts/analytics'
    
    / Load Open sans from Google Font Directory
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{ src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}

    = airbrake_javascript_notifier
  %body
    %header#header
      .navbar
        .navbar-inner
          .container
            %a.brand{:href => "/"}
              %b Coworfing
            = render 'layouts/navigation'

      = render :partial => "shared/flash_messages", :locals => {:flash => flash}

    = yield :map
    #content.container
      = yield


    %footer.row
      .container
        .row
          .span2
            %h3 Quick links
            %ul
              %li
                = link_to 'Home', root_url
              %li
                = link_to 'Contribute', 'http://github.com/nukomeet/coworfing', title: "Contribute on Girhub", rel: :nofollow, target: "_blank"
              %li
                = link_to t('navbar.about_us'), about_path
          .span2
            %br/
            %br/
            %ul
              %li
                = link_to 'Press', press_path
              %li
                %a{:href => "https://www.iubenda.com/privacy-policy/327733", title: "Privacy Policy", rel: :nofollow, target: "_blank"} Privacy Policy
              %li
                = link_to 'Blog', 'http://coworfing.tumblr.com', target: "_blank", rel: :nofollow

          .span4.social-networks
            %h3 Stay in touch
            %p Stay in touch on social networks
            = link_to('', "http://www.facebook.com/coworfing", class: "icon facebook", rel: :nodollow, target: "_blank",  title: "Follow us on Facebook")
            = link_to('', "http://www.twitter.com/coworfing", class: "icon twitterbird", rel: :nodollow, target: "_blank",  title: "Follow us on Twitter")
            = link_to('', 'http://github.com/nukomeet/coworfing', class: "icon github", rel: :nodollow, target: "_blank",  title: "Contribute on Github")
            = link_to('', 'http://coworfing.tumblr.com', class: "icon tumblr", rel: :nodollow, target: "_blank", title: "Our Blog")
          .span4
            %h3 Newsletter
            %p Subscribe to our monthly newsletter
            %form
              %input{:placeholder => "Enter your E-mail", :type => "text"}/
              %input.btn{:type => "submit", :value => "Ok"}/

      #footer-extra
        .container
          .row
            .span4
              A free and open-source opus by
              = link_to 'Nukomeet', 'http://nukomeet.com', rel: :nofollow, target: '_blank'
            .span4
              %i.icon-phone
              \&nbsp;
              = link_to 'Open Chat', 'https://www.hipchat.com/g4T5W6KqS', rel: :nofollow, target: '_blank'
            .span4
              %i.icon-envelope
              \&nbsp;
              = link_to("bonjour@nukomeet.com", "mailto:bonjour@nukomeet.com")

    = yield(:preload_javascript) if content_for?(:preload_javascript)
    = javascript_include_tag :application
    = yield(:javascript) if content_for?(:javascript)
    = render 'layouts/uservoice'
