!!!
%html
  %head
    %title Coworfing 
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

    %script{:src => "//maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}

    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  
    :javascript
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', UA-30309045-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

  %body{:class => params[:controller]}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to 'Coworfing', root_path, class: 'brand'
          .nav-collapse
            %ul.nav
              %li
                = link_to map_path do
                  %i.icon-picture.icon-white
                  Map
              %li
                = link_to list_path do
                  %i.icon-th.icon-white
                  List 

            - unless user_signed_in?
              %ul.nav.pull-right
                %li= link_to 'Login', new_user_session_path
            - else
              %ul.nav.pull-right
                %li.divider-vertical
                %li.dropdown
                  %a.dropdown-toggle{:'data-toggle' => "dropdown"} 
                    %i.icon-user.icon-white
                    Logged as
                    = current_user.name
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'Your Profile', edit_user_registration_path
                    %li= link_to 'Your Places', places_path
                    %li= link_to 'Your Requests', received_place_requests_path
                    %li.divider
                    %li= link_to 'Help', destroy_user_session_path, method: :delete
                    %li= link_to 'Log out', destroy_user_session_path, method: :delete
              / /.nav-collapse

    #container.container-fluid
      = render :partial => "shared/flash_messages", :locals => {:flash => flash}

      #main{:role => "main"}
        = yield

    %footer
      .pull-right
        %a#iubenda-embed.iubenda-white{:href => "https://www.iubenda.com/privacy-policy/327733", :title => "Privacy Policy"} Privacy Policy
        :javascript
            (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; w.addEventListener ? w.addEventListener("load", loader, false) : w.attachEvent("onload", loader);})(window, document);
        &nbsp;
        &nbsp;
        &nbsp;
