!!!
%html
  %head
    %title Coworfing 
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

    %script{:src => "//maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}

    = stylesheet_link_tag :application, :media => "all"
    = csrf_meta_tags

    = render 'layouts/analytics'

  %body{class: "#{params[:controller]}_#{params[:action]}"}
    = render :partial => "shared/flash_messages", :locals => {:flash => flash}

    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = link_to 'Coworfing', root_url, class: 'brand'
          = render 'layouts/navigation'


    #container.container
      #main{:role => "main"}
        = yield

      %footer
        .row.footer
          .span12
            %ul.links
              %li
                =link_to(image_tag("facebook.png"), "http://www.facebook.com/coworfing")
                
              %li
                =link_to(image_tag("twitter.png"), "http://www.twitter.com/coworfing")
              %li
                = link_to(image_tag('tumblr.jpg'), 'http://coworfing.tumblr.com')
              %li
                = link_to(image_tag('gmail.png'),"mailto:coworfing@gmail.com")
              %li
                = link_to t('navbar.about_us'), about_path
              %li
                = link_to 'Contribute', contribute_path
              %li.privacy
                = render 'layouts/iubenda'

    = javascript_include_tag :application

= render 'layouts/uservoice'

