!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html.not-ie{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}/
    - set_meta_tags :description => "We created Coworfing to share the places where we like to work: Cafés, bars, coworking spaces, librairies, airports, parks, and even our own homes."
    = display_meta_tags :site => 'Coworfing', :separator => '-'
    %meta{:content => "Nukomeet", :name => "author"}/

    = stylesheet_link_tag "application", :media => "all"

    /[if lte IE 8]
      = stylesheet_link_tag "application-ie", :media => "all"

    = csrf_meta_tags

    = render 'layouts/analytics'

    / Load Open sans from Google Font Directory
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{ src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
  %body
    %header#header
      .navbar
        .navbar-inner
          .container
            %a.brand{:href => "/"}
              %b
              = image_tag("logo.png")
            = render 'layouts/navigation'

      = render :partial => "shared/flash_messages", :locals => {:flash => flash}

    = yield :map
    #content.container
      = yield


    %footer.row
      .container
        .row
          .span4.social-networks
            %p Stay in touch on social networks
            = link_to('', "http://www.facebook.com/coworfing", class: "icon facebook", rel: :nodollow, target: "_blank",  title: "Follow us on Facebook")
            = link_to('', "http://www.twitter.com/coworfing", class: "icon twitterbird", rel: :nodollow, target: "_blank",  title: "Follow us on Twitter")
          .span4
            / Begin MailChimp Signup Form
            #mc_embed_signup
              %form#mc-embedded-subscribe-form.validate{:action => "http://coworfing.us4.list-manage1.com/subscribe/post?u=b95cbe692240fe5c779daecff&id=89d8f688dc", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
                %label{:for => "mce-EMAIL"} Subscribe to our mailing list
                %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
                .clear
                  %input#mc-embedded-subscribe.button.btn.btn-primary{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
            / End mc_embed_signup

      #footer-extra
        .container
          .row
            .span2
              Made by
              = link_to 'Nukomeet', 'http://nukomeet.com', rel: :nofollow, target: '_blank'
            .span3
              %i.icon-envelope
              \&nbsp;
              = link_to("bonjour@nukomeet.com", "mailto:bonjour@nukomeet.com")
            .span2
              %a{:href => "https://www.iubenda.com/privacy-policy/327733", title: "Privacy Policy", rel: :nofollow, target: "_blank"} Privacy Policy

    = yield(:preload_javascript) if content_for?(:preload_javascript)
    = javascript_include_tag "application"
    = yield(:javascript) if content_for?(:javascript)