!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html.not-ie{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %title Coworfing 
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Page description", :name => "description"}/
    %meta{:content => "Nukomeet", :name => "author"}/

    = stylesheet_link_tag :application, :media => "all"
    
    /[if lte IE 8]
      = stylesheet_link_tag "application-ie", :media => "all"
    
    = csrf_meta_tags

    = render 'layouts/analytics'

    / Load Open sans from Google Font Directory
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  %body
    = render :partial => "shared/flash_messages", :locals => {:flash => flash}
    %header#header
      .navbar
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "/"}
              %b Coworfing 
            = render 'layouts/navigation'

    = yield :map
    #content.container
      = yield
  

    %footer.row
      .container
        .row
          .span2
            %h3 Quick links
            %ul
              %li
                %a{:href => "#", :title => ""} Home
              %li
                = link_to 'Contribute', 'http://github.com/nukomeet/coworfing' 
              %li
                = link_to t('navbar.about_us'), about_path
          .span2
            %br/
            %br/
            %ul
              %li
                = link_to 'Press', press_path
              %li
                %a{:href => "https://www.iubenda.com/privacy-policy/327733", :title => ""} Privacy Policy 
              %li
                = link_to 'Blog', 'http://blog.coworfing.com' 

          .span4.social-networks
            %h3 Stay in touch
            %p Stay in touch on social networks
            = link_to('', "http://www.facebook.com/coworfing", class: "icon-facebook", :title => "Follow us on Facebook")
            = link_to('', "http://www.twitter.com/coworfing", class: "icon-twitter", :title => "Follow us on Twitter")
            = link_to('', 'http://github.com/nukomeet/coworfing', class: "icon-github")
            = link_to('', 'http://coworfing.tumblr.com', class: "icon-google-plus")
          .span4
            %h3 Newsletter
            %p Subscribe to our monthly newsletter 
            %form
              %input{:placeholder => "Enter your E-mail", :type => "text"}/
              %input.btn{:type => "submit", :value => "Ok"}/

      #footer-extra
        .container
          .row
            .span4
              \&copy; 2011—#{Time.now.year}
              = link_to 'Nukomeet', 'http://nukomeet.com', :rel => :nofollow, :target => '_blank'
            .span4
              %i.icon-phone
              \&nbsp;
              = link_to 'Open Chat', 'https://www.hipchat.com/g4T5W6KqS', rel: :nofollow, target: '_blank'
            .span4
              %i.icon-envelope
              \&nbsp;
              = link_to("bonjour@nukomeet.com", "mailto:coworfing@gmail.com") 

    = javascript_include_tag :application
    = yield(:javascript) if content_for?(:javascript)

= render 'layouts/uservoice'

